In [1]:
import pandas as pd

**1.write a python program to implement List-to-Series conversion**

In [6]:
x=[10,20,30,40,50]
series=pd.Series(x)
print("List: ")
print(x)
print("Series: ")
print(series,type(series))

List:
[10, 20, 30, 40, 50]
Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64 <class 'pandas.core.series.Series'>

**2.write a python program to generate the series of data from 1st may,2021 to 12th may,2021(both inclusive)**

In [7]:
start='2021-05-01'
end='2021-05-12'
x=pd.date_range(start=start,end=end)
for date in x:
    print(date.strftime('%Y-%m-%d'))

2021-05-01
2021-05-02
2021-05-03
2021-05-04
2021-05-05
2021-05-06
2021-05-07
2021-05-08
2021-05-09
2021-05-10
2021-05-11
2021-05-12

**3.Given a dictinary,convert it into corresponding dataframe and display it**

In [11]:
data={'name':['Aswin','Bhavana','Deepak','Aaron'],
      'age':[22,22,21,22],
      'city':['Thamalam','Kunnumpuram','Chembazhanthy','Ulloor']}
df=pd.DataFrame(data)
print(df)

      name  age           city
0    Aswin   22       Thamalam
1  Bhavana   22    Kunnumpuram
2   Deepak   21  Chembazhanthy
3    Aaron   22         Ulloor

**4.Given a 2D list,convert it into corresponding dataframe and display it**

In [12]:
data=[['Aswin',22,'Thamalam'],['Bhavana',22,'Kunnumpuram'],['Deepak',21,'Chembazhanthy']]
df=pd.DataFrame(data,columns=['Name','Age','City'])
print(df)

      Name  Age           City
0    Aswin   22       Thamalam
1  Bhavana   22    Kunnumpuram
2   Deepak   21  Chembazhanthy

**5.Given a CSV file,read it into dataframe and display it**

In [15]:
df=pd.read_csv('4.csv')
print(df)

      Name  Age          Place
0  Bhavana   22    Kunnumpuram
1    Aswin   22       Thamalam
2   Deepak   21  Chembazhanthy

**6.Given a dataframe,sort it by multiple columns**.

In [19]:
data={'name':['babu','aswin','thappu','aaron','akhil','aswin','thappu'],
      'age':['22','23','21','24','25','20','24']}
df=pd.DataFrame(data)
print("Original Dataframe: ")
print(df)

df_sorted_asc=df.sort_values(by=['name','age'])
print("\nDataframe sorted by name then age(ascending):")
print(df_sorted_asc)

Original Dataframe:
     name age
0    babu  22
1   aswin  23
2  thappu  21
3   aaron  24
4   akhil  25
5   aswin  20
6  thappu  24

Dataframe sorted by name then age(ascending):
     name age
3   aaron  24
4   akhil  25
5   aswin  20
1   aswin  23
0    babu  22
2  thappu  21
6  thappu  24

**7.given a dataframe with custom indexing,convert it to default indexing and display it**

In [ ]:
data={'name':['Aswin','Bhavana','Deepak','Aaron'],
      'age':[22,22,21,22],
      'city':['Thamalam','Kunnumpuram','Chembazhanthy','Ulloor']}
index=['a','b','c']
df=pd.DataFrame(data,index=index)
print("original df: ")
print(df)
print("\n"+"=")